.header-img {
    width: 100%;
    background: "../images/TopBorderKnit.jpg";
    background-size: cover;
    position: sticky;
}

.footer-img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container {
    /* background: url(BackgroundKnit.jpg) no-repeat center center; */
    background-color: #C1DCED;
    background-size: cover;  
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}