.header-img {
    width: 100%;
    background: "../images/TopBorderKnit.jpg";
    background-size: cover;
    position: sticky;
}

/* .footer-img {
    position: sticky;
    bottom: 0;
    left: 0;
} */

.container {
    background-color: #C1DCED;
    background-size: cover;  
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: bold;
}

h2 {
    font-family: 'Elsie Swash Caps', cursive;
}