<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/images/yarn_icon.png"/>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/stylesheet.css"/>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>
<body>
  <main>
      <div class="header-img">
        <img src="/static/images/TopBorderKnit.jpg" width="100%" height="150">
      </div>
  </main>
  {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>

  {% endfor %}

  {% block bodytitle %}{% endblock %}

  {% block body %}{% endblock %}

  {% block after_body %}{% endblock %}
<div id="footer" class="footer-img">
  <img src="/static/images/BottomBorderKnit.jpg" width="100%" height = "150">
</div>
<script src="/static/js/ajax.js"></script>
</body>
</html>