<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knittr | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/jpg" href="/static/images/yarn_icon.png"/>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/stylesheet.css"/>
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
    </script>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps&family=Roboto&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
  <main>
      <div class="header-img">
        <img src="/static/images/TopBorderKnit.jpg" width="100%" height="150">
      </div>
  </main>
  {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>

  {% endfor %}
<div class="container">
  {% block bodytitle %}{% endblock %}
  
  <div class="hero-head">
    <nav class="navbar">
      <div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a href="http://0.0.0.0:5000/" class="navbar-item">Welcome</a>
            <a href="http://0.0.0.0:5000/login" class="navbar-item">Log-in/Sign up</a>
            <a href="http://0.0.0.0:5000/calculator" class="navbar-item">Calculator</a>
            <a href="http://0.0.0.0:5000/customstitch" class="navbar-item">Custom Stitch</a>
            <a href="http://0.0.0.0:5000/photos" class="navbar-item">Photos</a>
            <a href="http://0.0.0.0:5000/profile" class="navbar-item">Profile</a>
            <a href="http://0.0.0.0:5000/logout" class="navbar-item">Logout</a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  {% block body %}{% endblock %}
</div>
  {% block after_body %}{% endblock %}
<!-- <div id="footer" class="footer-img">
  <img src="/static/images/BottomBorderKnit.jpg" width="100%" height = "150">
</div> -->
<script src="/static/js/ajax.js"></script>
</body>
</html>

<!-- 
This is font-awesome stuff that might be implemented later when decorating buttons
<link rel="stylesheet" href="
//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css
" id="font-awesome-css" type="text/css" media="screen"> -->


<!-- <a href=""><i class="fa fa-trash-alt"></i></a> -->

<!-- <a href=""><i class="fa fa-trash-alt"></i></a> -->