{% extends 'base.html' %}


{% block title %}Knitting Calculator{% endblock %}


{% block head %}{% endblock %}


{% block bodytitle %}

<div class="row">
  <h1>Knitting Calculator</h1> 
</div>

<div class="row">
  <dd id="calctitle"></dd><h2>Generate Knitting Patterns Based on Your Stitch Size</h2></dd>
</div>

{% endblock %}


{% block body %}
<div class="row">
  <p><b>Instructions:</b></p>
  <p>Start by picking a stitch pattern.</p>
  <p>The numbers following the name tell you how big to make your swatch.
    For example, if you see 4x5, your swatch needs to be four (4) stitches wide, 
    and five (5) rows tall. </p> <p>Once you knit your swatch you can enter the 
    measurements into the next section.  
  </p>
  
</div>

  <form id="start-project" method="POST">
    <div class="row">
      <label for="pattern-id">Select a Stitch Pattern:</label>
      <select id="pattern-id" name="pattern_id">
        {% for pattern in patterns %}
          <option value="{{ pattern.pattern_id }}">{{ pattern.pattern_name }}  {{ pattern.pattern_repeat_width }}x{{ pattern.pattern_repeat_height }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="row">
      <label for="swatch-width">How wide is your swatch?</label>
      <input type="number" step=0.01 id="swatch-width" name="swatch-width" min="0" max="50">
    </div>

    <div class="row">
      <label for="swatch-height">How tall is your swatch?</label>
      <input type="number" id="swatch-height" name="swatch-height" min="0" max="50">
    </div>

    <div class="row">
      <label for="project-width">How wide do you want your project to be?</label>
      <input type="number" id="project-width" name="project-width" min="0" max="500">
    </div>

    <div class="row">
      <label for="project-height">How tall do you want your project to be?</label>
      <input type="number" id="project-height" name="project-height" min="0" max="500">
    </div>

    <div class="row">
      <label for="project-name">What would you like to name your project?</label>
      <div>
        <input type="text" id="project-name" name="project-name">
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Generate Pattern">
    </div>
  </form>

  <section id="display-pattern">
    <dl>
      <div class="row">
        
        <div id="stitchname"></div>

        <dd id="description"></dd>
        
        <dd id="caston"></dd>
       
        <dd id="totalrows"></dd>
        
        <dd id="knitpat"></dd>
        <dd id="start-knitting"></dd>

        <dd id="save-status"></dd>

      </div>  
    </dl>
  </section>
{% endblock %}

{% block after_body %}{% endblock %}
