{% extends 'base.html' %}

{% block title %}Custom Stitch Pattern{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}
  <div class="row">
    <h1>Custom Stitch Pattern</h1> 
  </div>

  <div class="row">
    <h2>Save custom stitch patterns.</h2>
  </div>
{% endblock %}

{% block body %}
  <div class="row">
    <p>Write your own.</p>
  </div>

  
  <form action='/api/customstitch' method="POST" id="custom-stitch-save">

    <div class="row">
      <label for="stitch-name">What is the name of your stitch pattern?</label>
      <input type="text" name="stitch-name" placeholder="Stitch Name">
    </div>

    <div class="row">
      <label for="stitch-description">Please describe your pattern briefly.</label>
      <input type="text" name="stitch-description" placeholder="Stitch Pattern Description">
    </div>

    <div class="row">
      <label for="stitch-repeat-width">How many stitches wide is one repeat of your pattern?</label>
      <input type="number" name="stitch-repeat-width" min="0" max="50">
    </div>

    <div class="row">
      <label for="stitch-repeat-height">How many rows tall is one repeat of your pattern?</label>
      <input type="number" name="stitch-repeat-height" min="0" max="50">
    </div>

    <div class="row">
      <dl>
        <label for="new-stitch-row">Please type one row of instruction per text box.</label>
        <button type="button" id="new-stitch-row">Add another row</button>
        <div>
          <input type="text" name="stitch-instructions-list" placeholder="First Line">
        </div>
        <dd id="stitch-instructions-array"></dd>  
      </dl>
    </div>

    <div class="row">
      <input type="submit">
    </div>
  </form>
{% endblock %}

{% block after_body %}{% endblock %}