{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}
  <div class="row">
    <h1>Login Page</h1> 
  </div>

  <div class="row">
    <h2>Create an Account or Login</h2>
  </div>
{% endblock %}

{% block body %}
  
  <form action="/new-account" method="POST">
    <div class="row">
      <h2>Create a new account:</h2>
    </div>
    
    <div class="row">
      <label>Username:</label>
      <input type="text" name="newusername" placeholder="Name">
    </div>

    <div class="row">
      <label>Password:</label>
      <input type="password" name="newpassword" placeholder="Password">
    </div>

    <div class="row">
      <label>Email:</label>
      <input type="email" name="newemail" placeholder="Email">
    </div>

    <div class="row">
      <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
    </div>
  </form>

  <form action="/handle-login" method="POST">
    <div class="row">
      <h2>Or login to your existing account here:</h2>
    </div>

    <div class="row">
      <label>Email:</label>
      <input type="email" name="email" placeholder="Email">
    </div>

    <div class="row">
      <label>Password:</label>
      <input type="password" name="password" placeholder="Password">
    </div>

    <div class="row">
      <button class="button is-block is-info is-large is-fullwidth">Log In</button>
    </div>
  </form>
  
{% endblock %}

{% block after_body %}{% endblock %}