{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}{% endblock %}

{% block body %}

  <div class="row">
    <h2>Create an Account or Login</h2>
  </div>

  <div class="col-12 col-md-6">
    <form action="/new-account" method="POST">
      <div class="row">
        <h2>Create a new account:</h2>
      </div>
      
      <div class="row">
        <label>Username:</label>
        <input type="text" name="newusername" placeholder="Name">
      </div>

      <div class="row">
        <label>Password:</label>
        <input type="password" name="newpassword" placeholder="Password">
      </div>

      <div class="row">
        <label>Email:</label>
        <input type="email" name="newemail" placeholder="Email">
      </div>

      <div class="row">
        <button class="btn btn-default">Sign Up</button>
      </div>
    </form>
  </div>

  <div class="col-12 col-md-6">
    <form action="/handle-login" method="POST">
      <div class="row">
        <h2>Or login to your existing account here:</h2>
      </div>

      <div class="row">
        <label>Email:</label>
        <input type="email" name="email" placeholder="Email">
      </div>

      <div class="row">
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password">
      </div>

      <div class="row">
        <button class="btn btn-default">Log In</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block after_body %}{% endblock %}