{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}
    <h1>Logout</h1> 
    <h2>Leave!</h2>
{% endblock %}

{% block body %}
  <p>This page lets you log out.  It should also let you delete your account.</p>

  <button id="logout">Log Out</button>
  <dd id="logout-text"></dd>

  <p>If you click the 'Delete Account' button, it will delete your account permanently.</p>
  <p>There will be no recovering your account, so please be sure you really want to delete your account.</p>
  <p>Really.</p>
  <p>There will be no verification screen or double-checking, it's just gonna be gone.</p>

  <button id="delete-account">Delete Account</button>
  <dd id="delete-account-text"></dd>
{% endblock %}

{% block after_body %}{% endblock %}