{% extends 'base.html' %}

{% block title %}Logout{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}


{% endblock %}

{% block body %}

  <div class="row">
    <h2>Leave!</h2>
  </div>
 
  <div class="row">
    <button id="logout" class="btn btn-default">Log Out</button>
    <dd id="logout-text"></dd>
  </div>

  <div class="row">
    <p>If you click the 'Delete Account' button, it will delete your account permanently.</p>
  </div>

  <div class="row">
    <p>There will be no recovering your account, so please be sure you really want to delete your account.</p>
  </div>

  <div class="row">
    <p>Really.</p>
  </div>

  <div class="row">
    <p>There will be no verification screen or double-checking, it's just gonna be gone.</p>
  </div>

  <div class="row">
    <button id="delete-account" class="btn btn-danger">Delete Account</button>
    <dd id="delete-account-text"></dd>
  </div>
{% endblock %}

{% block after_body %}{% endblock %}

<!-- <input type="submit" onclick="return confirm('Are you sure?')" />
The key thing to note is the return -->