{% extends 'base.html' %}

{% block title %}Photos{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}
    <h1>Project Photos</h1> 
    <h2>See photos of user projects</h2>
{% endblock %}

{% block body %}
  <p>Share and view photos of knitting projects.</p>

  <form id="upload-photos" method="post" enctype="multipart/form-data">
    <label for="post-title">Write a headline for your photo post:</label>
    <input type="text" name="post-title">

    <label for="post-comment">Comment on your photo:</label>
    <input type="text" name="post-comment">

    <label for="files">Please select photos to upload:</label>
    <input type="file" name="files[]" multiple>
    <input type="submit" value="Upload Photos" name="submit">
  </form>

  <p id="data"></p>

  <script src="upload.js"></script>


{% endblock %}

{% block after_body %}{% endblock %}