{% extends 'base.html' %}

{% block title %}Photos{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}
    <h1>Project Photos</h1> 
    <h2>See photos of user projects</h2>
{% endblock %}

{% block body %}
  <p>Share and view photos of knitting projects.</p>

  <form id="upload-photos">
    <label for="post-title">Write a headline for your photo post:</label>
    <input type="text" id="post-title">

    <label for="post-comment">Comment on your photo:</label>
    <input type="text" id="post-comment">

    <label for="files">Please select photos to upload:</label>
    <input type="file" id="photo_upload">
    <input type="submit" value="Upload Photos" name="submit">
  </form>

  <p id="data"></p>

<dd id="photo_upload_success"></dd>

{% for post in posts %}
<div>
  <h2>{{ post.post_title }}</h3>
  <h3>{{ post.post_comment }}</h3>
  <img src="{{ post.post_photo_link }}" alt="Photo of knitting">
</div>
{% endfor %}

{% endblock %}

{% block after_body %}{% endblock %}