{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}
    <h1>User Profile</h1> 
    <h2>This is your profile!</h2>
{% endblock %}

{% block body %}
  <p>Welcome!</p>
  <p>This is where your saved projects will live.</p>

  <section id="display-projects">
    <dt>Current Projects:</dt>
    <button type="button" id='display-project-list'>Display Projects</button>
    <dd id="current-projects"></dd>
  </section>

{% endblock %}

{% block after_body %}{% endblock %}