{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}{% endblock %}

{% block body %}

  <div class="row">
    <h2>{{ user.user_name }}'s Dashboard</h2>
  </div>

  <div class="row">
    <p>Welcome, {{ user.user_name }}!</p>
  </div>

  <section id="display-projects">

    <div class="row">
      <dt>Current Projects:</dt>
    </div>

    <div class="row">
      <button type="button" id='display-project-list' class="btn btn-default">Display Projects</button>
    </div>
    
    <dd id="current-projects"></dd>

  </section>

{% endblock %}

{% block after_body %}{% endblock %}