{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}
  <div class="row">
    <h1>User Profile</h1> 
  </div>

  <div class="row">
    <h2>This is your profile!</h2>
  </div>
{% endblock %}

{% block body %}
  <div class="row">
    <p>Welcome!</p>
  </div>

  <div class="row">
    <p>This is where your saved projects will live.</p>
  </div>

  <section id="display-projects">

    <div class="row">
      <dt>Current Projects:</dt>
    </div>

    <div class="row">
      <button type="button" id='display-project-list' class="btn btn-default">Display Projects</button>
    </div>
    
    <dd id="current-projects"></dd>

  </section>

{% endblock %}

{% block after_body %}{% endblock %}