{% extends 'base.html' %}

{% block title %}Knit From Save{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}
    <h1>Project Continue Calculator</h1> 
    <h2>Keep knitting!</h2>
{% endblock %}

{% block body %}
  <p>This should display current spot in project, and have next and prev buttons.</p>

  <div id="name-c" value="{{project.project_name}}">{{project.project_name}}</div>
  <div id="projectwidth-c" value="{{project.project_width}}">Finished width: {{ project.project_width }}</div>
  <div id="projectheight-c" value="{{project.project_height}}">Finished height: {{ project.project_height }}</div>
  
  <button id="resume-knitting">Knit!</button>
  <dd id="keep-knitting"></dd>
  <dd id="keep-knitting-stitch"></dd>
{% endblock %}

{% block after_body %}{% endblock %}