{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}{% endblock %}

{% block bodytitle %}{% endblock %}

{% block body %}

  <div class="row">
    <h2>Welcome to Knittr!</h2>
  </div>

  <div class="row">
    <p><b>Knittr</b> is an app that generates custom knitting patterns.  With ordinary knitting patterns, you have to select your yarn and 
    needles to make your stitches the exact same size as the pattern designer's stitches.  Otherwise, your finished knitted piece won't come
    out the right size.  With Knittr, you can pick any gauge of needle or yarn, and Knittr will adjust the number of stitches and rows in the
    knitting pattern instead. 
    </p>
  </div>

{% endblock %}

{% block after_body %}{% endblock %}